# Core
langgraph
langchain
langchain-openai
openai
python-dotenv
pydantic

# UI
gradio

# ML
scikit-learn
pandas
numpy
joblib
scipy
transformers
torch
accelerate>=1.1.0

# Evaluation
deepeval

# Data Ingestion
newsapi-python

# Utilities
tqdm
requests
beautifulsoup4
nltk
textblob

#Others
protobuf
sentencepiece
tiktoken
tokenizers

#Visualisation
matplotlib